body {
    display: inline-flex;
    flex-direction: column;
    width: 13%;
}

.description-book {
    margin-top: 2%;
}

.book-name {
    margin-top: 2%;
}

.load-file {
    margin-top: 2%;
}

form {
    display: inline-flex;
    flex-direction: column;
}

input {
    margin: 2%;
}

textarea {
    margin: 2%;
}

.hide {
    display: none;
}

.show {
    display: inherit;
}

button {
    width: 50%;
    margin: 0 auto;
}